<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="TestSuite(Root)">
            <directory suffix="Test001.php">./tests/forecasta/</directory>
        </testsuite>
        <testsuite name="TestSuite(Parser)">

            <directory suffix="ParserTestCase.php">./tests/forecasta/Parser/</directory>
            <directory suffix="*TestCase.php">./tests/forecasta/Comment/Processor/</directory>
        </testsuite>
        <testsuite name="TestSuite(Comment)">
            <directory>./tests/forecasta/Comment/Processor/CommentParserTestCase.php</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
